[submodule "sam3"]
	path = sam3
	url = https://github.com/facebookresearch/sam3
[submodule "LichtFeld-Studio"]
	path = LichtFeld-Studio
	url = https://github.com/MrNeRF/LichtFeld-Studio.git
[submodule "dart"]
	path = dart
	url = https://github.com/mkturkcan/DART.git
